<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tapper</title>

  <!-- Bootstrap core CSS -->
  <link href="./js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="./js/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="css/custom.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.3.css" />
  <link href="css/icheck/flat/green.css" rel="stylesheet" />
  <link href="css/floatexamples.css" rel="stylesheet" type="text/css" />

  <link rel="stylesheet" type="text/css" href="./js/vendor/bootstrap-daterangepicker/daterangepicker.css" />

  <link href="css/style.css" rel="stylesheet">

</head>
<body class="nav-md">
    <div class="container body text-center">
        <div class="row">
          <div class="page-header"><h1>Tapper</h1></div>
        </div>
        <div class="row" >
          <!-- <div class="col-sm-3" >&nbsp
          </div> -->
          <div style="width: 100%">
            <div class="alert alert-info">Click the button below to download tapper for iOS</div>
          </div>
          <!-- <div class="col-sm-3" >&nbsp
          </div -->
        </div>
        <div class="row" >
        </div>
        <div class="row" >
          <div class="col-sm-3" >&nbsp
          </div>
          <div class="col-sm-6" >
            <a href="<%= ios_url %>"><button type="button" class="btn btn-lg btn-primary">Download iOS</button></a>
          </div>
          <div class="col-sm-3" >&nbsp
          </div>
        </div>
        <div class="row">
          <div class="page-header">&nbsp</div>
        </div>
        <div class="row" >
          <!-- <div class="col-sm-3" >&nbsp
          </div> -->
          <div style="width: 100%" >
            <div class="alert alert-info">Click the button below to download tapper for Android</div>
          </div>
          <!-- <div class="col-sm-3" >&nbsp
          </div> -->
        </div>
       <div class="row" >
          <div class="col-sm-3" >&nbsp
          </div>
          <div class="col-sm-6" >
            <a href="<%= android_url %>"><button type="button" class="btn btn-lg btn-primary">Download Android</button></a>
          </div>
          <div class="col-sm-3" >&nbsp
          </div>
       </div>

    </div>


  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/vendor/nprogress.js"></script>
  <script src="./js/vendor/jquery/jquery-1.11.2.min.js"></script>
  <script data-main="./js/main.js" src="./js/vendor/require/require.min.js"></script>
  <script src="./js/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/vendor/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="js/custom.js"></script>

  <!-- /footer content -->
</body>
</html>